.moves {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.moves .list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.moves .move {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.moves .move .x, .moves .move .o {
  font-family: 'Courier New', Courier, monospace;
}
